/* .container{
        display: flex;
      } */
    h1{
        margin: 100px 0px;
        color: red;
        text-align: center;
        font-size: 2rem;
        }
        .card{
        margin: 10px auto;
        }
        .back{
        width: 100%;
        }


/* media query for phones*/
@media (max-width: 576px) {
    img .back{
        width: 100%;
        height: 100vh;
    }
}
/* for tablets */
@media (max-width: 768px) {
    img .back{
        width: 100%;
        height: 100vh;
    }
    .card{
        margin: auto;
    }
}
/* @media (max-width: 992px) {
    img .back{
        width: 100%;
        height: 100vh;
    }
    .card{
        margin: auto 400px;
    }
} */
/* for laptops (992px to 1200px) */
@media (min-width: 992px) and (max-width: 1200px) {
    .card {
        width: 48%; /* Set the width to occupy almost half of the container */
        margin: 10px 30%; /* Adjust margin for spacing between cards */
    }
}
/* for all except phones*/
@media (min-width: 576px) {
    .card{
        margin: 10px auto;
    }
    
}
